/*First page*/
::-webkit-input-placeholder {
  color: #fff; }

.first-page {
  background-color: #1ebfae;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed; }
  .first-page .title-app {
    font-size: 38px;
    font-weight: 700;
    margin-top: 10px; }
  .first-page #loginform img {
    width: 20px;
    float: left;
    margin-top: 6px; }
  .first-page .btns-log-in {
    padding: 4%; }
    .first-page .btns-log-in .btn-login {
      width: 100%;
      margin-bottom: 3%;
      border: none;
      color: #FFFFFF;
      font-size: 16px;
      text-shadow: none; }
      .first-page .btns-log-in .btn-login:focus {
        background-color: #33c197;
        color: #fff; }
    .first-page .btns-log-in .log-in-app a {
      background-color: transparent;
      border: 1px solid #FFFFFF;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      width: 98.5%;
      display: inline-block;
      text-align: center;
      padding-top: 12px;
      height: 29px;
      font-weight: bold;
      margin-top: 10px; }
    .first-page .btns-log-in .log-in-app a:hover {
      background-color: #fff;
      color: #33c197 !important; }
    .first-page .btns-log-in #submit_signin {
      color: #33c197 !important;
      background-color: #fff; }
    .first-page .btns-log-in .btn-fb {
      background-color: #39579B; }
      .first-page .btns-log-in .btn-fb:focus {
        color: #39579B; }
    .first-page .btns-log-in .btn-google {
      background-color: #DF4A32; }
      .first-page .btns-log-in .btn-google:focus {
        color: #DF4A32; }
    .first-page .btns-log-in .btn-fb:focus, .first-page .btns-log-in .btn-google:focus {
      background-color: #FFFFFF; }
    .first-page .btns-log-in .input-app {
      background-color: #33c197;
      border: 0;
      border-bottom: 1px solid #fff;
      color: #fff;
      width: 80%;
      padding-left: 15px;
      margin-bottom: 20px;
      height: 32px;
      display: inline-block;
      margin-left: 10px; }
    .first-page .btns-log-in .btn-pass {
      margin-bottom: 25px; }
    .first-page .btns-log-in .option-login {
      width: 100%;
      color: #FFFFFF;
      text-align: center; }
  .first-page .register {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: 0;
    text-shadow: none;
    font-weight: 100; }
    .first-page .register span {
      color: #FFF;
      font-weight: bold; }
  .first-page .register span a:hover {
    color: #ccc !important; }

.second-page .list-items {
  margin-top: 0; }
  .second-page .list-items li {
    list-style-type: none;
    width: 33%;
    height: 70px;
    float: left; }
  .second-page .list-items .border-item {
    border-right: 1px solid #fff; }

#page-2 {
  background-color: #F3F3F3; }
  #page-2 #menu-panel ul li {
    text-transform: uppercase; }
  #page-2 .menu-bottom-app {
    height: 55px;
    position: absolute;
    bottom: 0;
    background-color: #3AA792;
    width: 100%; }
  #page-2 .list-items {
    padding: 0; }
    #page-2 .list-items li {
      cursor: pointer;
      text-align: center; }
      #page-2 .list-items li img {
        height: 35px;
        padding-top: 10px;
        margin: 0 auto; }
  #page-2 #notifications p {
    color: #fff;
    text-transform: uppercase; }
  #page-2 .active {
    background-color: #43D8AC; }
  #page-2 #notifications-section, #page-2 #user-section {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: none; }
  #page-2 #group-section {
    display: block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
    #page-2 #group-section .groups-user {
      cursor: pointer;
      width: 100%;
      position: absolute;
      max-height: 300px;
      overflow-y: auto; }
      #page-2 #group-section .groups-user .logo-group {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 28px;
        color: #fff;
        line-height: 48px;
        text-align: center;
        background: #222;
        display: inline-block; }
      #page-2 #group-section .groups-user span {
        margin-left: 20px; }
      #page-2 #group-section .groups-user li {
        height: 50px;
        padding: 10px 15px;
        background: #fff;
        border-bottom: 1px solid #ccc; }
        #page-2 #group-section .groups-user li img {
          width: 22px;
          float: right;
          padding: 16px;
          padding-right: 0; }
      #page-2 #group-section .groups-user li:nth-child(odd) {
        background: #ddd; }
    #page-2 #group-section .new-group {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      font-size: 30px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      background: #666;
      display: inline-block;
      font-weight: bold; }
    #page-2 #group-section .group-actions {
      display: none; }
      #page-2 #group-section .group-actions .hour-group {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 14px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        background: #3AA792;
        display: inline-block;
        top: 10px;
        position: absolute; }
      #page-2 #group-section .group-actions ul {
        overflow: hidden; }
        #page-2 #group-section .group-actions ul li {
          float: left;
          padding: 5px 25px;
          background-color: #fff;
          border-bottom: 1px solid #eee;
          width: 100%; }
          #page-2 #group-section .group-actions ul li .time {
            float: left;
            width: 20%;
            position: relative;
            height: 60px; }
            #page-2 #group-section .group-actions ul li .time label {
              font-size: 12px;
              margin-left: -13px;
              position: absolute;
              bottom: -10px;
              text-align: center;
              left: 0; }
          #page-2 #group-section .group-actions ul li .event {
            float: left;
            width: 80%; }
            #page-2 #group-section .group-actions ul li .event strong {
              text-transform: uppercase; }
            #page-2 #group-section .group-actions ul li .event p {
              line-height: 20px;
              margin-left: 7px; }
  #page-2 .section .title {
    padding: 11px;
    letter-spacing: 5px;
    background-color: #43D8AC;
    color: #fff;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px; }
  #page-2 .section ul {
    list-style-type: none;
    padding: 0; }
  #page-2 .section .settings-list {
    overflow-y: auto;
    max-height: 300px !important; }
    #page-2 .section .settings-list li {
      cursor: pointer;
      padding-left: 20px;
      position: relative; }
      #page-2 .section .settings-list li img {
        height: 35px;
        padding-top: 5px;
        margin: 0 auto; }
      #page-2 .section .settings-list li span {
        padding-left: 15px;
        position: absolute;
        top: 30%; }
  #page-2 #user-section .user-info {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    text-align: center; }
    #page-2 #user-section .user-info #username-show {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 1px; }
    #page-2 #user-section .user-info .img-user {
      background-image: url("../img/resources/default_user.svg");
      width: 150px;
      height: 150px;
      border-radius: 50%;
      font-size: 28px;
      color: #fff;
      line-height: 48px;
      text-align: center;
      display: inline-block;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover; }
  #page-2 #notifications-section ul li {
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    cursor: pointer; }
    #page-2 #notifications-section ul li .hour-not {
      float: right; }
      #page-2 #notifications-section ul li .hour-not img {
        width: 30px;
        float: right;
        margin-right: -8px; }
      #page-2 #notifications-section ul li .hour-not span {
        font-size: 11px;
        float: right;
        margin-top: 15px;
        margin-right: -30px;
        float: right; }

.new-user-section {
  display: none;
  overflow: hidden;
  padding: 15px; }

.block-new-group {
  position: absolute;
  bottom: 70px;
  right: 25px; }
  .block-new-group .alert-no-groups {
    display: inline-block; }

#form-create-group {
  padding: 10px; }
  #form-create-group .class_checkbox {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-bottom: -4px; }
  #form-create-group .username-to-add {
    position: absolute;
    top: 30px;
    left: 90px; }
  #form-create-group .phonenumber-to-add {
    position: absolute;
    top: 50px;
    left: 90px; }
  #form-create-group .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0;
    /* margin-left: -20px; */
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff; }
  #form-create-group .contact-list {
    padding: 8px;
    background-color: #aaa;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 3px;
    cursor: pointer; }
  #form-create-group .users-to-add {
    margin: 0px;
    margin-top: 8px;
    padding: 0;
    max-height: 300px !important;
    overflow-y: auto; }
  #form-create-group .users-to-add li {
    position: relative;
    padding: 15px;
    margin-bottom: 1px;
    background-color: #FFF;
    cursor: pointer; }
  #form-create-group .users-to-add li p {
    margin-bottom: 0; }
  #form-create-group .users-to-add li, #form-create-group .users-to-add li p {
    color: #bcbcbc; }
  #form-create-group .users-to-add li.checked, #form-create-group .users-to-add li.checked p {
    color: #6a6f7b; }
  #form-create-group .users-to-add li .class_checkbox {
    position: absolute;
    right: 15px;
    z-index: 10;
    top: 30%; }
  #form-create-group .users-to-add li:nth-child(odd) {
    background: #ddd; }
  #form-create-group .input-name-group {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #ccc;
    color: #222;
    width: 80%;
    margin-bottom: 20px;
    height: 32px;
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    letter-spacing: 1.5px; }
  #form-create-group ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #000; }
  #form-create-group :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity: 1; }
  #form-create-group ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    opacity: 1; }
  #form-create-group :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000; }
  #form-create-group ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000; }
  #form-create-group #submit-group {
    background-color: #000;
    padding: 7px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block; }
  #form-create-group .img-user-group {
    background-image: url("../img/resources/default_user.svg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }

.section-group-selected {
  display: none; }
  .section-group-selected .menu-grupos {
    float: left;
    display: inline-block;
    position: absolute;
    top: 75px;
    left: 26px; }
    .section-group-selected .menu-grupos .grupos-title {
      padding: 8px;
      background-color: #aaa;
      color: #fff;
      text-transform: lowercase;
      letter-spacing: 3px;
      cursor: pointer; }
    .section-group-selected .menu-grupos .active-group {
      background-color: #fff;
      color: #49af91; }
  .section-group-selected .grupo-c {
    height: 100%;
    padding: 25px; }
  .section-group-selected .current-group-users, .section-group-selected .usuarios-para-agregar {
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 25px;
    padding: 0;
    max-height: 415px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin-top: 35px; }
    .section-group-selected .current-group-users li, .section-group-selected .usuarios-para-agregar li {
      position: relative;
      padding: 15px;
      margin-bottom: 1px;
      background-color: #FFF; }
    .section-group-selected .current-group-users li:nth-child(odd), .section-group-selected .usuarios-para-agregar li:nth-child(odd) {
      background: #ddd; }
    .section-group-selected .current-group-users .img-user-group-2, .section-group-selected .usuarios-para-agregar .img-user-group-2 {
      background-image: url(../img/resources/default_user.svg);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      font-size: 28px;
      color: #fff;
      line-height: 48px;
      text-align: center;
      display: inline-block;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover; }
    .section-group-selected .current-group-users .username-to-add, .section-group-selected .usuarios-para-agregar .username-to-add {
      position: absolute;
      top: 30px;
      left: 90px; }
    .section-group-selected .current-group-users .phonenumber-to-add, .section-group-selected .usuarios-para-agregar .phonenumber-to-add {
      position: absolute;
      top: 50px;
      left: 90px; }
  .section-group-selected .muro .messages-list {
    padding: 0;
    max-height: 415px;
    overflow-y: auto;
    margin-top: 35px; }
    .section-group-selected .muro .messages-list li {
      list-style-type: none;
      background: #eee;
      border: 1px solid #fffffa;
      padding: 16px;
      position: relative;
      height: 70px; }
    .section-group-selected .muro .messages-list li:nth-child(odd) {
      background: #ddd; }
  .section-group-selected .muro .message-area {
    position: absolute;
    bottom: 12%;
    width: 85%; }
  .section-group-selected .muro #message-to-send {
    width: 60%;
    height: 30px !important;
    border: 2px solid #cccccc;
    padding: 5px;
    resize: none; }
  .section-group-selected .muro #send-message {
    background-color: #000;
    padding: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    margin-top: 9px;
    margin-left: 10px; }
  .section-group-selected .muro .img-user-message {
    background-image: url("../img/resources/default_user.svg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 28px;
    position: absolute; }
  .section-group-selected .muro .user-message {
    top: 10px;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px; }
  .section-group-selected .muro .time-message {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 13px;
    color: #fff;
    background-color: #49af91;
    letter-spacing: 1px;
    padding: 2px; }
  .section-group-selected .muro .text-message {
    position: absolute;
    font-size: 14px;
    top: 20px;
    height: 46px;
    background-color: #fff;
    width: 58%;
    padding: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    right: 10px; }

.usuarios-para-agregar {
  margin: 0px;
  margin-top: 8px;
  padding: 0;
  max-height: 300px !important;
  overflow-y: auto; }

.usuarios-para-agregar li {
  position: relative;
  padding: 15px;
  margin-bottom: 1px;
  background-color: #FFF;
  cursor: pointer; }

.usuarios-para-agregar li p {
  margin-bottom: 0; }

.usuarios-para-agregar li, .usuarios-para-agregar li p {
  color: #bcbcbc; }

.usuarios-para-agregar li.checked, .usuarios-para-agregar li.checked p {
  color: #6a6f7b; }

.usuarios-para-agregar li .class_checkbox {
  position: absolute;
  right: 15px;
  z-index: 10;
  top: 30%; }

.usuarios-para-agregar li:nth-child(odd) {
  background: #ddd; }

.class_checkbox {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-bottom: -4px; }

.username-to-add {
  position: absolute;
  top: 30px;
  left: 90px; }

.phonenumber-to-add {
  position: absolute;
  top: 50px;
  left: 90px; }

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 0px;
  left: 0;
  /* margin-left: -20px; */
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff; }

.ui-header {
  height: 40px; }

@font-face {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: none; }
@viewport {
  orientation: portrait; }
body {
  height: 100vh !important;
  overflow: auto; }
  body span, body input {
    text-shadow: none; }
  body a {
    text-decoration: none;
    color: #FFF !important; }

body {
  font-family: sans-serif;
  background-color: #33c197; }

.app-page {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33c197;
  background-size: cover;
  position: fixed; }
  .app-page .menu-bar {
    height: 7.5%;
    background-color: #2D2D2D;
    position: relative; }
  .app-page #user_photo_container {
    overflow: hidden;
    height: 200px;
    position: relative;
    margin: 0px auto;
    width: 100%; }
    .app-page #user_photo_container #user_photo {
      width: 100%;
      height: 200px;
      background-repeat: no-repeat; }
    .app-page #user_photo_container span {
      position: absolute;
      left: 0;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      bottom: 0;
      font-size: 24px; }

#lista a .container {
  padding: 10px;
  height: 45px; }
  #lista a .container span {
    margin-left: 11px;
    line-height: 45px; }
#lista a div {
  text-shadow: none;
  text-transform: uppercase;
  color: #eeeeee; }
  #lista a div .hour {
    width: 24%;
    font-size: 18px;
    text-align: center;
    float: left;
    color: #FFF;
    border: 1px solid #FFF; }

#thanks-redirect {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  width: 98.5%;
  display: inline-block;
  text-align: center;
  padding-top: 1.5%;
  height: 22px;
  border-radius: 0;
  height: 24px;
  font-family: 'Avenir Next';
  font-weight: normal; }

.error-data-entry {
  display: block;
  text-transform: uppercase;
  color: #ddd;
  margin: 0 auto;
  font-size: 11px;
  text-align: center; }

#loading {
  background-color: #000;
  opacity: 0.4;
  z-index: 20;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

#map {
  display: none; }

#page-sign-in {
  display: none; }
  #page-sign-in .btns-log-in .input-app {
    width: 92%; }

#page-2 {
  display: none; }

.error-data-entry {
  display: block;
  text-transform: uppercase;
  color: #eee;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 20px; }

.overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1500;
  display: none; }

#update-data {
  padding: 6px; }

#guardar-datos {
  margin-top: 5px; }

#form-foto, #form-datos {
  display: none;
  text-align: center;
  margin-bottom: 25px; }

#form-datos label {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px; }

#form-datos input {
  display: inline-block;
  margin-bottom: 10px; }

.create-foto {
  margin-bottom: 10px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.save-img {
  background-color: #000;
  padding: 7px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px; }

#about-2 {
  display: none; }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0; } }
#error-update {
  color: #000 !important;
  margin-top: 10px !important; }

/*# sourceMappingURL=main.css.map */
