.menu-bottom-app.list-items {
  bottom: 0;
  background-color: #3AA792;
  width: 100%;
  left: 0;
  display: none;
  padding: 0;
  margin: 0;
  float: left; }
  .menu-bottom-app.list-items li {
    list-style-type: none;
    width: 33%;
    height: 70px;
    float: left;
    cursor: pointer;
    text-align: center; }
    .menu-bottom-app.list-items li img {
      height: 35px;
      padding-top: 15px;
      margin: 0 auto; }
  .menu-bottom-app.list-items .active {
    background-color: #43D8AC; }
  .menu-bottom-app.list-items .border-item {
    border-right: 1px solid #fff; }

#page-2 {
  background-color: #F3F3F3; }
  #page-2 #menu-panel ul li {
    text-transform: uppercase; }
  #page-2 #notifications p {
    color: #fff;
    text-transform: uppercase; }
  #page-2 #notifications-section, #page-2 #user-section {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: none; }
  #page-2 #group-section {
    display: block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
    #page-2 #group-section .groups-user {
      cursor: pointer;
      width: 100%;
      position: absolute;
      max-height: 300px;
      overflow-y: auto; }
      #page-2 #group-section .groups-user .logo-group {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 28px;
        color: #fff;
        line-height: 48px;
        text-align: center;
        background: #222;
        display: inline-block; }
      #page-2 #group-section .groups-user span {
        margin-left: 20px; }
      #page-2 #group-section .groups-user li {
        height: 50px;
        padding: 10px 15px;
        background: #fff;
        border-bottom: 1px solid #ccc; }
        #page-2 #group-section .groups-user li img {
          width: 22px;
          float: right;
          padding: 16px;
          padding-right: 0; }
      #page-2 #group-section .groups-user li:nth-child(odd) {
        background: #ddd; }
    #page-2 #group-section .new-group {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      font-size: 30px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      background: #666;
      display: inline-block;
      font-weight: bold; }
    #page-2 #group-section .group-actions {
      display: none; }
      #page-2 #group-section .group-actions .hour-group {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 14px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        background: #3AA792;
        display: inline-block;
        top: 10px;
        position: absolute; }
      #page-2 #group-section .group-actions ul {
        overflow: hidden; }
        #page-2 #group-section .group-actions ul li {
          float: left;
          padding: 5px 25px;
          background-color: #fff;
          border-bottom: 1px solid #eee;
          width: 100%; }
          #page-2 #group-section .group-actions ul li .time {
            float: left;
            width: 20%;
            position: relative;
            height: 60px; }
            #page-2 #group-section .group-actions ul li .time label {
              font-size: 12px;
              margin-left: -13px;
              position: absolute;
              bottom: -10px;
              text-align: center;
              left: 0; }
          #page-2 #group-section .group-actions ul li .event {
            float: left;
            width: 80%; }
            #page-2 #group-section .group-actions ul li .event strong {
              text-transform: uppercase; }
            #page-2 #group-section .group-actions ul li .event p {
              line-height: 20px;
              margin-left: 7px; }
  #page-2 .section .title {
    padding: 11px;
    letter-spacing: 5px;
    background-color: #43D8AC;
    color: #fff;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px; }
  #page-2 .section ul {
    list-style-type: none;
    padding: 0; }
  #page-2 .section .settings-list {
    overflow-y: auto;
    max-height: 300px !important; }
    #page-2 .section .settings-list li {
      cursor: pointer;
      padding-left: 20px;
      position: relative; }
      #page-2 .section .settings-list li img {
        height: 35px;
        padding-top: 5px;
        margin: 0 auto; }
      #page-2 .section .settings-list li span {
        padding-left: 15px;
        position: absolute;
        top: 30%; }
  #page-2 #user-section .user-info {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    text-align: center; }
    #page-2 #user-section .user-info #username-show {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 1px; }
    #page-2 #user-section .user-info .img-user {
      background-image: url("../img/resources/default_user.svg");
      width: 150px;
      height: 150px;
      border-radius: 50%;
      font-size: 28px;
      color: #fff;
      line-height: 48px;
      text-align: center;
      display: inline-block;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover; }
  #page-2 #notifications-section ul li {
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    cursor: pointer; }
    #page-2 #notifications-section ul li .hour-not {
      float: right; }
      #page-2 #notifications-section ul li .hour-not img {
        width: 30px;
        float: right;
        margin-right: -8px; }
      #page-2 #notifications-section ul li .hour-not span {
        font-size: 11px;
        float: right;
        margin-top: 15px;
        margin-right: -30px;
        float: right; }

.new-user-section {
  display: none;
  overflow: hidden;
  padding: 15px; }

.block-new-group {
  position: absolute;
  bottom: 100px;
  right: 25px; }
  .block-new-group .alert-no-groups {
    display: inline-block; }

#form-create-group {
  padding: 10px; }
  #form-create-group .class_checkbox {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-bottom: -4px; }
  #form-create-group .username-to-add {
    position: absolute;
    top: 30px;
    left: 90px; }
  #form-create-group .phonenumber-to-add {
    position: absolute;
    top: 50px;
    left: 90px; }
  #form-create-group .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0;
    /* margin-left: -20px; */
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff; }
  #form-create-group .contact-list {
    padding: 8px;
    background-color: #aaa;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 3px;
    cursor: pointer; }
  #form-create-group .users-to-add {
    margin: 0px;
    margin-top: 8px;
    padding: 0;
    max-height: 300px !important;
    overflow-y: auto; }
  #form-create-group .users-to-add li {
    position: relative;
    padding: 15px;
    margin-bottom: 1px;
    background-color: #FFF;
    cursor: pointer; }
  #form-create-group .users-to-add li p {
    margin-bottom: 0; }
  #form-create-group .users-to-add li, #form-create-group .users-to-add li p {
    color: #bcbcbc; }
  #form-create-group .users-to-add li.checked, #form-create-group .users-to-add li.checked p {
    color: #6a6f7b; }
  #form-create-group .users-to-add li .class_checkbox {
    position: absolute;
    right: 15px;
    z-index: 10;
    top: 30%; }
  #form-create-group .users-to-add li:nth-child(odd) {
    background: #ddd; }
  #form-create-group .input-name-group {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #ccc;
    color: #222;
    width: 80%;
    margin-bottom: 20px;
    height: 32px;
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    letter-spacing: 1.5px; }
  #form-create-group ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #000; }
  #form-create-group :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity: 1; }
  #form-create-group ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    opacity: 1; }
  #form-create-group :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000; }
  #form-create-group ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000; }
  #form-create-group #submit-group {
    background-color: #000;
    padding: 7px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block; }
  #form-create-group .img-user-group {
    background-image: url("../img/resources/default_user.svg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }

.section-group-selected {
  display: none; }
  .section-group-selected .menu-grupos {
    float: left;
    display: inline-block;
    position: absolute;
    top: 75px;
    left: 26px; }
    .section-group-selected .menu-grupos .grupos-title {
      padding: 8px;
      background-color: #aaa;
      color: #fff;
      text-transform: lowercase;
      letter-spacing: 3px;
      cursor: pointer; }
    .section-group-selected .menu-grupos .active-group {
      background-color: #fff;
      color: #49af91; }
  .section-group-selected .grupo-c {
    height: 100%;
    padding: 25px; }
  .section-group-selected .current-group-users, .section-group-selected .usuarios-para-agregar {
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 25px;
    padding: 0;
    max-height: 415px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin-top: 35px; }
    .section-group-selected .current-group-users li, .section-group-selected .usuarios-para-agregar li {
      position: relative;
      padding: 15px;
      margin-bottom: 1px;
      background-color: #FFF; }
    .section-group-selected .current-group-users li:nth-child(odd), .section-group-selected .usuarios-para-agregar li:nth-child(odd) {
      background: #ddd; }
    .section-group-selected .current-group-users .img-user-group-2, .section-group-selected .usuarios-para-agregar .img-user-group-2 {
      background-image: url(../img/resources/default_user.svg);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      font-size: 28px;
      color: #fff;
      line-height: 48px;
      text-align: center;
      display: inline-block;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover; }
    .section-group-selected .current-group-users .username-to-add, .section-group-selected .usuarios-para-agregar .username-to-add {
      position: absolute;
      top: 30px;
      left: 90px; }
    .section-group-selected .current-group-users .phonenumber-to-add, .section-group-selected .usuarios-para-agregar .phonenumber-to-add {
      position: absolute;
      top: 50px;
      left: 90px; }
  .section-group-selected .muro .messages-list {
    padding: 0;
    max-height: 415px;
    overflow-y: auto;
    margin-top: 35px; }
    .section-group-selected .muro .messages-list li {
      list-style-type: none;
      background: #eee;
      border: 1px solid #fffffa;
      padding: 16px;
      position: relative;
      height: 70px; }
    .section-group-selected .muro .messages-list li:nth-child(odd) {
      background: #ddd; }
  .section-group-selected .muro .message-area {
    position: absolute;
    bottom: 12%;
    width: 85%; }
  .section-group-selected .muro #message-to-send {
    width: 60%;
    height: 30px !important;
    border: 2px solid #cccccc;
    padding: 5px;
    resize: none; }
  .section-group-selected .muro #send-message {
    background-color: #000;
    padding: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    margin-top: 9px;
    margin-left: 10px; }
  .section-group-selected .muro .img-user-message {
    background-image: url("../img/resources/default_user.svg");
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 28px;
    position: absolute; }
  .section-group-selected .muro .user-message {
    top: 10px;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px; }
  .section-group-selected .muro .time-message {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 13px;
    color: #fff;
    background-color: #49af91;
    letter-spacing: 1px;
    padding: 2px; }
  .section-group-selected .muro .text-message {
    position: absolute;
    font-size: 14px;
    top: 20px;
    height: 46px;
    background-color: #fff;
    width: 58%;
    padding: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    right: 10px; }

.usuarios-para-agregar {
  margin: 0px;
  margin-top: 8px;
  padding: 0;
  max-height: 300px !important;
  overflow-y: auto; }

.usuarios-para-agregar li {
  position: relative;
  padding: 15px;
  margin-bottom: 1px;
  background-color: #FFF;
  cursor: pointer; }

.usuarios-para-agregar li p {
  margin-bottom: 0; }

.usuarios-para-agregar li, .usuarios-para-agregar li p {
  color: #bcbcbc; }

.usuarios-para-agregar li.checked, .usuarios-para-agregar li.checked p {
  color: #6a6f7b; }

.usuarios-para-agregar li .class_checkbox {
  position: absolute;
  right: 15px;
  z-index: 10;
  top: 30%; }

.usuarios-para-agregar li:nth-child(odd) {
  background: #ddd; }

.class_checkbox {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-bottom: -4px; }

.username-to-add {
  position: absolute;
  top: 30px;
  left: 90px; }

.phonenumber-to-add {
  position: absolute;
  top: 50px;
  left: 90px; }

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 0px;
  left: 0;
  /* margin-left: -20px; */
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff; }

/*# sourceMappingURL=page_2.css.map */
