#page-4{
	.header-4{
		span{
			line-height: 40px;
			padding-left: 20px;
			text-transform: uppercase;
			font-weight: normal;
		}
	}
	.content-4{
		padding: 15px;
		span{
			text-transform: uppercase;
			text-shadow: none;
			color: #FF8A60;
		}
		.event-data{
			text-transform: uppercase;
			color: #FFF;
			text-shadow: none;
			padding-bottom: 10px;
			.title{
				color: #FF8A60;
				font-size: 28px;
    			font-weight: bold;
			}
			.hour, .location, .price{
				font-size: 13px;
    			display: inline-block;
			}
			.price{
				display: block;
				span{
					color: #FFFFFF;
					font-size: 17px;
				}
			}
		}
		input{
			background-color: #1d1d1d;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}
		.data-to-send{
			.personal-data{
				width: 100%;
    			display: inline-block;
			}
			.ui-input-text{
				width: 47%;
			    display: inline-block;
			    float: left;
			    text-shadow: none;
			    margin: 1%;
			    font-size: 13px;
				margin-bottom: 10px;
				color: #FFF;
				box-shadow: none;
			}
			.fix-margin{
				.ui-input-text{
					margin-top: -37px;
				}
			}
			.mail{
				.ui-input-text{
					width: 96.5%;
					margin: 1%;
					margin-top: -18px;
					color: #FFF;
					box-shadow: none;
				}
			}
			.ui-radio{
				width: 48%;
				margin-top: 20px;
				display: block;
				margin: 0;

				.ui-radio-on, .ui-radio-off{
					background-color: #1d1d1d;
					border-color: #1d1d1d;
					width: 100%;
				    padding-top: 7px;
				    font-size: 11px;
				    text-transform: uppercase;
				    display: inline-block;
				    padding-left: 30px;
				}
				.ui-radio-on{
					&:after{
						border-color: #FF8A60;
					}
				}
				.ui-radio-off{
					&:after{
						background-color: #FFF;
					}
				}
			}
			.location{
				text-shadow: none; 
				text-transform: uppercase; 
				color:#FFF; 
				font-size: 10px; 
				line-height:40px;
			}
			.ui-select{
				width: 47%;
			    border-radius: 0;
			    background-color: transparent;
			    float: left;
			    display: inline-block;
			    margin-left: 3px;
			    .ui-btn{
			    	background-color: transparent;
				    border-radius: 0;
				    border: 1px solid #fff;
				    box-shadow: none;
			    }
			}
			.buy-ticket{
				border-radius: 0;
				background-color: transparent;
				border: 1px solid #FFF;
				text-transform: uppercase;
				height: 36px;
			    padding-top: 7px;
			    font-size: 14px;
			    font-weight: normal;
			    box-shadow: none;
			}
		}
		form span{
			font-size: 13px;
		}
	}
}