/*First page*/
::-webkit-input-placeholder {
   color: #fff;
}
.first-page{
	background-color: #1ebfae;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	.title-app{
		font-size: 38px;
		font-weight: 700;
		margin-top: 10px;
	}
	#loginform{
		img{
			width: 20px;
			float: left;
			margin-top: 6px;
		}
	}
	.btns-log-in{
		padding: 4%;
		padding-top: 8%;
		.btn-login{
			width: 100%;
			margin-bottom: 3%;
			border: none;
			color: #FFFFFF;
			font-size: 16px;
			text-shadow: none;
			&:focus{
				background-color: #33c197;
				color: #fff;
			}
		}
		.log-in-app a{
			background-color: transparent;
			border: 1px solid #FFFFFF;
			text-transform: uppercase;
			letter-spacing: 1.2px;
			width: 98.5%;
		    display: inline-block;
		    text-align: center;
		    padding-top: 12px;
		    height: 29px;
		    font-weight: bold;
		    margin-top: 10px;
		}
		.log-in-app a:hover{
			background-color: #fff;
			color: #33c197 !important;
		}
		#submit_signin{
			color: #33c197 !important;
    		background-color: #fff;
		}
		.btn-fb{
			background-color: #39579B;
			&:focus{
				color: #39579B;
			}
		}
		.btn-google{
			background-color: #DF4A32;
			&:focus{
				color: #DF4A32;
			}
		}
		.btn-fb, .btn-google{
			&:focus{
				background-color: #FFFFFF;
			}
		}
		.input-app{
			background-color: #33c197;
			border: 0;
			border-bottom: 1px solid #fff;
			color: #fff;
			width: 80%;
			padding-left: 15px;
			margin-bottom: 20px;
			height: 32px;
			display: inline-block;
			margin-left: 10px;
		}
		.btn-pass{
			margin-bottom: 20px;
		}
		.option-login{
			width: 100%;
			color: #FFFFFF;
			text-align: center;
		}
	}
	.register{
		position: absolute;
		bottom: 40px;
		width: 100%;
    	text-align: center;
    	color: #fff;
    	background-color: transparent;
    	border: 0;
    	text-shadow: none;
    	font-weight: 100;
    	span{
    		color: #FFF;
    		font-weight: bold;
    	}
	}
	.register span a:hover{
		color: #ccc !important;
	}
}