.second-page{
	.list-items{
		margin-top: 0;
		li{
			list-style-type: none;
			width: 33%;
			height: 70px;
			float: left;
		}
		.border-item{
			border-right:1px solid #fff;
		}
	}
}

#page-2{
	background-color: #F3F3F3;
	#menu-panel{
		ul{
			li{
				text-transform: uppercase;
			}
		}
	}
	.menu-bottom-app{
		height:55px;
		position:absolute;
		bottom:0;
		background-color: #3AA792;
		width: 100%;
	}
	.list-items{
		padding: 0;
		li{
			cursor: pointer;
			text-align: center;
			img{
				height:35px;
				padding-top:10px;
				margin: 0 auto;
			}
		}
	}
	#notifications{
		p{
			color: #fff;
			text-transform: uppercase;
		}
	}
	.active{
		background-color: #43D8AC;
	}
	#notifications-section, #user-section{
		display: none;
	}
	#events-section{
		display: block;
		.group{
			height: 40px;
		    border-bottom: 1px solid #ccc;
		    padding: 20px;
		    background-color: #fff;
		    padding-top: 12px;
			.logo-group{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				font-size: 28px;
				color: #fff;
				line-height: 48px;
				text-align: center;
				background: #222;
				display: inline-block;
			}
			span{
				margin-left: 20px;
			}
		}
	}
	.section{
		.title{
			padding: 11px;
		    letter-spacing: 5px;
		    background-color: #43D8AC;
		    color: #fff;
		    text-transform: uppercase;
		    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		    font-weight: 500;
		    font-size: 16px;
		}
		ul{
			list-style-type: none;
			padding: 0;
		}
		.settings-list{
			li{
				cursor: pointer;
				padding-left: 20px;
				img{
					height:35px;
					padding-top:10px;
					margin: 0 auto;
				}
				span{
					padding-left: 15px;
				}
			}
		}
	}
	#user-section{
		.user-info{
			margin: 0 auto;
		    width: 100%;
		    overflow: hidden;
		    text-align: center;
		    height: 300px;
			#username-show{
				text-transform: uppercase;
				font-size: 25px;
				font-weight: bold;
				letter-spacing: 1px;
			}
		}
	}
}